:root {
  background-color: cornflowerblue;
  font-variant: common-ligatures;
  text-emphasis-colorolor: blanchedalmond;
  color: black;

}
card {
  background-color: lightsteelblue;
  outline: antiquewhite;
}
